---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

interface Props {
  docType: string;
}

const { docType } = Astro.props;

const iosAndMac = await getCollection("docs", ({ id }) => {
  return id.startsWith(`${docType}`);
});
//const iosAndMac = await getCollection("docs");
---

<ul>
  {
    iosAndMac.map(
      (iosAndMacEntry) =>
        !iosAndMacEntry.data.title.includes("Index") && (
          <li>
            <a href={`/${iosAndMacEntry.id}`}>{iosAndMacEntry.data.title}</a>
          </li>
        ),
    )
  }
</ul>
