---
import * as fs from "node:fs/promises";

interface Props {
  currentFilePath: string;
}

const { currentFilePath } = Astro.props;

const subFolders = await fs
  .readdir(currentFilePath, { withFileTypes: true })
  .then((entries) =>
    entries
      .filter((entry) => entry.isDirectory())
      .map((entry) => entry.name)
      .sort((a, b) => a.localeCompare(b)),
  );

const formatUrlPath = (path: string) => path.toLowerCase().replace(/\s+/g, "-");

// Convert file system path to URL path
let basePath = currentFilePath.replace(/.*?\/content\/docs/, "");

basePath = formatUrlPath(basePath);
---

<ul>
  {
    subFolders.map((subFolder) => (
      <li>
        <a href={`${basePath}/${formatUrlPath(subFolder)}`}>{subFolder}</a>
      </li>
    ))
  }
</ul>
